.group-header {
  h3 {
    display: flex;
    justify-content: space-between;
  }
  ul.metadata {
    li {
      font-size: 0.9em;
      i {
        margin-right: 0.5em;
      }
    }
  }
}

.group-teaser {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 13px 5px rgba(188,188,188,0.3);
  margin-bottom: 1rem;
}

.btn-wrapper {
  padding: 2rem 0;
  text-align: center;
  background-color: #eaeaea;;
  justify-content: center;

  @include make-row();
}
