<div id="app-wrapper" class="container">
  <div *ngIf="afAuth.user | async as currentUser; else loginTemplate">
    <app-navigation></app-navigation>
    <main class="main">

    </main>
  </div>
</div>

<ng-template #loginTemplate>
  <section class="login-form">
    <h2 class="app-title">La cours des grands</h2>

    <ul class="btns-login list-unstyled">
      <li>
        <button class="btn btn-primary"
          (click)="loginWithGoogle()">
          <i class="fa fa-google"></i> Login with Google</button>
      </li>
      <li>
        <button class="btn btn-primary"
                (click)="loginWithGoogle()">
          <i class="fa fa-facebook"></i> Login with Facebook</button>
      </li>
    </ul>
  </section>
</ng-template>
