<div class="group-header">
  <h3>
    <span>{{ group?.name }}</span>
  </h3>
  <ul class="list-unstyled metadata">
    <li><i class="fa fa-calendar" aria-hidden="true"></i> {{ group?.created | date }}</li>
    <li><i class="fa fa-user-o" aria-hidden="true"></i> {{ owner?.displayName }}</li>
  </ul>
</div>

<div class="players">
  <div class="player">
    <a routerLink="/group/{{ groupId }}/player/add"
       *ngIf="group?.ownerId === afAuth.auth.currentUser.uid"
       class="btn btn-add-player">
      <span></span>
    </a>
    <div>Add player</div>
  </div>
  <div class="player" *ngFor="let player of players">
    <a routerLink="/group/{{ groupId }}/player/{{ player.key }}">
      <img src="{{ player.photoURL }}" alt="{{ player.displayName }}" class="img-fluid">
    </a>
    <div>{{ player.displayName }}</div>
  </div>
</div>

<div class="btn-wrapper">
  <a routerLink="/group/{{ groupId }}/game/add" class="btn btn-primary">Add new match</a>
</div>

