<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand app-title"
     routerLink="/" [innerHtml]="title"></a>

  <button class="navbar-toggler"
          (click)="toggleNavbar()"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </button>

  <div class="nav-wrapper" (click)="closeNavbar()">
    <div class="nav-inner">

      <div class="user">
        <div class="user--image">
          <img src="{{ currentUser?.photoURL }}" alt="{{ currentUser?.displayName }}" class="img-fluid">
        </div>
        <div class="user--info">
          {{ currentUser?.displayName }}
        </div>
      </div>

      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
        </li>
      </ul>

    </div>
  </div>
</nav>
